<!doctype html>
<head>
  <title>Debug zappa 905</title>
</head>
<body>
  <h1>Debugging zappa #905</h1>
  <p>
    The purpose of this app is to assist with debugging <a href="https://github.com/Miserlou/Zappa/issues/905">Zappa #905</a>. The code for this app is <a href="https://github.com/monkeypants/debug_zappa_905">here, in GitHub</a>.
  </p>
  <p>
    The current file is {{ this_file }}
  </p>
  <h2>Environment Variables</h2>
  <p>
    These are the current environment variables:
  </p>
  <ul>{% for var in environment %}
    <li>{{ var['key'] }}: {{ var['value'] }}</li>{% endfor %}
  </ul>
  <h2>sys.path</h2>
  <p>
    This is the current sys.path: 
  </p>
  <ul>{% for x in sys_path %}
    <li>{{ x }}</li>{% endfor %}
  </ul>
  <h2>ls pwd</h2>
  <p>
    The contents of the current working directory (where {{ this_file}} is running from):
  </p>
  <ul>{% for x in ls_pwd %}
    <li>{{ x }}</li>{% endfor %}
  </ul>
</body>
